@font-face {
    font-family: 'headerfont';
    src: url(../font/part-two.ttf) format('truetype');
}
@font-face {
    font-family: 'logo';
    src: url(../font/cowboy.otf) format('opentype');
}
@font-face {
    font-family: 'body';
    src: url(../font/aleo.otf) format('opentype');
}
@font-face {
    font-family: 'link';
    src: url(../font/oldtown.ttf) format('truetype');
}

@media screen and (min-width: 320px) {

}
@media screen and (min-width: 1000px) {

}
