@font-face {
    font-family: 'headerfont';
    src: url(../font/part-two.ttf) format('truetype');
}
@font-face {
    font-family: 'logo';
    src: url(../font/cowboy.otf) format('opentype');
}
@font-face {
    font-family: 'body';
    src: url(../font/aleo.otf) format('opentype');
}
@font-face {
    font-family: 'link';
    src: url(../font/oldtown.ttf) format('truetype');
}

@media screen and (min-width: 320px) {
    header {
        width: 100%;
        border-bottom: solid 1em #0e5813;
        background-image: url(../img/sand.png);
        padding-top: 2%;
    }
    #logo {
        background-image: url(../img/logo3.png);
        background-size: 100%;
        background-repeat: no-repeat;
        padding-bottom: 20%;
        width: 20%;
        margin-left: auto;
        margin-right: auto;
    }
    nav ul {
        text-align: center;
    }
    nav ul li {
        display: inline;
        font-size: 2.5em;
        font-family: 'headerfont', sans-serif;
        padding: 0% 2%;
        color: #e7e7e7:inherit;
    }
    nav ul li:hover{
        color:#ffffff;
        background-color: #0e5813;
    }
}
@media screen and (min-width: 1000px) {

}
